*{
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    width:100vw;
    height:100vh;
}

.top{
    background: orangered;
    height:10%;
    display: flex;
    flex-direction: row;
    padding:10px;
}

.top-item{
    background: grey;
    height:100%;
    width:100%;
}

/* #Logo{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.2rem;
    color: pink;
}

.bottom{
    display: flex;
    flex-direction: row;
    background: blue;
    height: 80%;
    padding: 10px;
    gap: 10px;
}

.right-item{
    background: coral;
    height: 25%;
    width: 100%;
}
.left-item{
    background: yellow;
    height: 25%;
    width: 25%;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: purple;
    height: 100%;
    width: 50%;
}
.right{
    display: flex;
    flex-direction: column;
    background: orange;
    height: 100%;
    width: 100%;
    gap: 10px;
    padding: 10px;
} */