*{
    margin: 0px;
}
@font-face {
    font-family: 'ABC Diatype';
    src: url(/typefaces/ABCDiatypeEdu-Regular.otf);
    font-style: normal;
}

#title{
    font-size: 36pt;
    font-weight: bold;
    font-family: 'ABC Diatype'; 
    padding: 20px;
}

#artist{
    font-size: 18pt;
    font-weight: bold;
    font-family: 'ABC Diatype'; 
    padding: 20px;
}

#body{
    font-size: 15pt;
    font-family: 'ABC Diatype'; 
    padding: 15px;
}

.main-box{
    background-color: lightsteelblue; 
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink; 
}

.body{
    background-color: honeydew;
}