*{
    margin: 0px;
}
@font-face {
    font-family: "ABC Diatype";
    src: url("../typefaces/ABCDiatypeEdu-Regular.woff2") format("woff2"),
         url("../typefaces/ABCDiatypeEdu-Regular.woff") format("woff"),
         url("../typefaces/ABCDiatypeEdu-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    font-size: 36pt;
    font-weight: bold;
    font-family: "ABC Diatype"; 
    padding: 20px;
    color: lavenderblush;
}

#artist{
    font-size: 18pt;
    font-weight: bold;
    font-family: "ABC Diatype"; 
    padding: 15px;
    color: lavenderblush;
}

#body{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    width: 100%;
    color: hotpink;
}

.main-box2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: hotpink;
    position: absolute;
    width: 100%;
}

.header1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink; 
}

.body1{
    background-color: lavenderblush;
}

.header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: hotpink;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 35%;
}

.body2{
    display: flex;
    width: 65%;
    background-color: lavenderblush;
}

.header3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
    position: sticky;
    top: 0;
}

.body3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: lavenderblush;
    width: 100%;
    min-height: 80vh;
    gap: 20px;
}
.text3{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image3{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 47%;
    padding-top: 30px;
    margin-right: 30px;
    margin-bottom: 3vh;
    overflow-y: auto;
    position: sticky;
    top: 150px;
}

#simp{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100vh;
}

.header4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    gap: 20px;
}

#tiktok{
    margin-top: 20px;
}
.header5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    height: 100vh;
}

.header6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    height: 100vh;
}

#sinan{
    width: 300px;
    height: auto;
}
