
@font-face {
    font-family: 'ABC Diatype';
    src: url(/typefaces/ABCDiatypeEdu-Regular.otf);
}

#title{
    font-size: 32pt;
    font-weight: bold;
}

#artist{
    font-size: 20pt;
}

#body{
    font-size: 15pt;
}