*{
    margin: 0px;
    font-family: "ABC Diatype";
}
@font-face {
    font-family: "ABC Diatype";
    src: url("../typefaces/ABCDiatypeEdu-Regular.woff2") format("woff2"),
         url("../typefaces/ABCDiatypeEdu-Regular.woff") format("woff"),
         url("../typefaces/ABCDiatypeEdu-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    font-size: 36pt;
    font-weight: bold;
    font-family: "ABC Diatype"; 
    padding: 20px;
    color: lavenderblush;
}

#artist{
    font-size: 18pt;
    font-weight: bold;
    font-family: "ABC Diatype"; 
    padding: 15px;
    color: lavenderblush;
}

#body{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    width: 100%;
    color: hotpink;
}

.main-box2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: hotpink;
    width: 100%;
}

.header1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink; 
}

.body1{
    background-color: lavenderblush;
}

.header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: hotpink;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 35%;
}

.body2{
    display: flex;
    width: 65%;
    background-color: lavenderblush;
}

.footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
    height: 40px;
    font-family: "ABC Diatype";
    color: lavenderblush;
    font-size: 12px;
}

.header3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
    position: sticky;
    top: 0;
}

.body3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: lavenderblush;
    width: 100%;
    min-height: 80vh;
    gap: 20px;
}
.text3{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image3{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 47%;
    padding-top: 30px;
    margin-right: 30px;
    margin-bottom: 3vh;
    overflow-y: auto;
    position: sticky;
    top: 150px;
}

#simp{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100vh;
}

#simp_song{
    display: none;
}

audio {
    width: 300px;
    height: 54px;
}

/* Make media scale down on small screens */
img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

.footer3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
    height: 40px;
    font-family: "ABC Diatype";
    color: lavenderblush;
    font-size: 12px;
}

.header4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    gap: 20px;
}

#tiktok{
    margin-top: 20px;
}
#tiktok6{
    margin-bottom: 20px;
}

.header5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    padding-bottom: 20px;
}

.left5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    width: 50%;
}

.right5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    width: 50%;
}

#righttext5{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    color: hotpink;
}

#link5{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    color: hotpink;
    background-color: lavenderblush;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 75px;
    width: 300px;
    border-radius: 20px;
    border-color: hotpink;
    border-width: 3px;
    border-style: solid;
}
#link5:hover{
    cursor: pointer;
    transform: scale(1.125,1.125);
    background-color: hotpink;
    color: lavenderblush;
    border-color: rgb(230,95,162);
}

.header6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
}

.left6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    width: 50%;
    margin: 20px;
}

.right6{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: lavenderblush;
    width: 50%;
    gap: 50px;
    margin: 50px;
}

#sinan{
    max-width: 400px;
    width: 100%;
    height: auto;
}

#sinancaption{
    font-size: 12pt;
    font-family: "ABC Diatype"; 
    color: lavenderblush;
    background-color: hotpink;
    max-width: 400px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sinantext{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    color: hotpink;
}

#link6{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    color: hotpink;
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 300px;
    max-width: 90%;
    border-radius: 20px;
    border-color: hotpink;
    border-width: 3px;
    border-style: solid;
}

#link6:hover{
    cursor: pointer;
    transform: scale(1.125,1.125);
    background-color: hotpink;
    color: lavenderblush;
    border-color: rgb(230,95,162);
}

.header7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body7{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    gap: 20px;
    height: 80vh;
}
#body7{
    font-size: 14pt;
    font-family: "ABC Diatype"; 
    color: lavenderblush;
    background-color: hotpink;
    width: 400px;
    padding: 14px;
    margin: 20px;
}

#link7{
    width: 100%;
    height: auto;
}
#link7:hover{
    transform: scale(1.01,1.01);
    cursor: pointer;
    border: 3px solid hotpink;
}

.header8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body8{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lavenderblush;
    gap: 20px;
    padding: 20px;
}

#p:hover { transform:rotate(5deg); }
#p:hover:nth-child(2n) { transform:rotate(-4deg); }
#p:hover:nth-child(3n) { transform:rotate(2deg); }
#p:hover:nth-child(4n) { transform:rotate(-5deg); }
#p:hover:nth-child(5n) { transform:rotate(-6deg); }
#p:hover:nth-child(6n) { transform:rotate(6deg); }

.footer8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
    height: 40px;
    font-family: "ABC Diatype";
    color: lavenderblush;
    font-size: 12px;
}

.main-box9{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 100%;
}
.header9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: hotpink;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 35%;
}

.body9{
    display: flex;
    width: 65%;
    height: 100vh;
    background-color: lavenderblush;
}
#body9{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Responsive layout adjustments */
@media (max-width: 900px) {
    .body5, .body4, .body6, .body3, .body7, .body9, .main-box2, .main-box9, .body2 {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .left5, .right5, .left6, .right6, .image3, .text3 {
        width: 100%;
        padding: 10px;
    }
    .header2, .header9 {
        position: static;
        width: 100%;
        height: auto;
    }
    .body7 { height: auto; }
    #body7, #body, #righttext5 { width: 100%; }
    #link5, #link6 { width: 300px; max-width: 90%; }
    #tiktok, #tiktok2, #tiktok3, #tiktok4, #tiktok5, #tiktok6 { width: 100%; height: auto; }
}

@media (max-width: 480px) {
    #title{ font-size: 24pt; }
    #artist, #body, #righttext5, #sinantext { font-size: 12pt; }
    .readme { left: 10px; top: 10px; }
}