*{
    margin: 0px;
}
@font-face {
    font-family: "ABC Diatype";
    src: url("../typefaces/ABCDiatypeEdu-Regular.woff2") format("woff2"),
         url("../typefaces/ABCDiatypeEdu-Regular.woff") format("woff"),
         url("../typefaces/ABCDiatypeEdu-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    font-size: 36pt;
    font-weight: bold;
    font-family: "ABC Diatype"; 
    padding: 20px;
}

#artist{
    font-size: 18pt;
    font-weight: bold;
    font-family: "ABC Diatype"; 
    padding: 20px;
}

#body{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    width: 100%;
}

.main-box2{
    display: flex;
    flex-direction: row;
    background-color: beige;
}

.header1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink; 
}

.body1{
    background-color: honeydew;
}

.header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}

.header3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    width: 100%;
    position: sticky;
}

.body3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: azure;
    width: 100%;
    min-height: 80vh;
    gap: 20px;
}
.text3{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 191vh;
    width: 47%;
    position: sticky;
    padding-top: 20px;
    margin-right: 20px;
    margin-bottom: 3vh;
    overflow-y: auto;
}

#simp{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 300px;
    width: 100vh;
}