*{
    margin: 0px;
}
@font-face {
    font-family: 'ABC Diatype';
    src: url(/typefaces/ABCDiatypeEdu-Regular.otf);
    font-style: normal;
}

#title{
    font-size: 36pt;
    font-weight: bold;
    font-family: 'ABC Diatype'; 
    padding: 20px;
}

#artist{
    font-size: 18pt;
    font-weight: bold;
    font-family: 'ABC Diatype'; 
    padding: 20px;
}

#body{
    font-size: 15pt;
    font-family: 'ABC Diatype'; 
    padding: 15px;
}

.main-box2{
    display: flex;
    flex-direction: row;
    background-color: beige;
}

.header1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink; 
}

.body1{
    background-color: honeydew;
}

.header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}

.header3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}

.body3{
    display: flex;
    flex-direction: row;
    background-color: azure;
}

.image3{
    display: flex;
    height: 200px;
    width: auto;
}

#helpme{
    height: 200px;
    width: auto;
}