
@font-face {
    font-family: 'ABC Diatype';
    src: url(/typefaces/ABCDiatypeEdu-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

#title{
    font-size: 32pt;
    font-weight: bold;
    font-family: 'ABC Diatype'; 
}

#artist{
    font-size: 20pt;
    font-weight: bold;
    font-family: 'ABC Diatype'; 
}

#body{
    font-size: 15pt;
    font-family: 'ABC Diatype'; 
}

.main-box{
    align-items: center;
}