*{
    margin: 0px;
    font-family: "ABC Diatype";
}
@font-face {
    font-family: "ABC Diatype";
    src: url("../typefaces/ABCDiatypeEdu-Regular.woff2") format("woff2"),
         url("../typefaces/ABCDiatypeEdu-Regular.woff") format("woff"),
         url("../typefaces/ABCDiatypeEdu-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    font-size: 36pt;
    font-weight: bold;
    font-family: "ABC Diatype"; 
    padding: 20px;
    color: lavenderblush;
}

#artist{
    font-size: 18pt;
    font-weight: bold;
    font-family: "ABC Diatype"; 
    padding: 15px;
    color: lavenderblush;
}

#body{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    width: 100%;
    color: hotpink;
}

.main-box2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: hotpink;
    position: absolute;
    width: 100%;
}

.header1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink; 
}

.body1{
    background-color: lavenderblush;
}

.header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: hotpink;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 35%;
}

.body2{
    display: flex;
    width: 65%;
    background-color: lavenderblush;
}

.header3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
    position: sticky;
    top: 0;
}

.body3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: lavenderblush;
    width: 100%;
    min-height: 80vh;
    gap: 20px;
}
.text3{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image3{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 47%;
    padding-top: 30px;
    margin-right: 30px;
    margin-bottom: 3vh;
    overflow-y: auto;
    position: sticky;
    top: 150px;
}

#simp{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100vh;
}

.header4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    gap: 20px;
}

#tiktok{
    margin-top: 20px;
}
#tiktok4{
    margin-bottom: 20px;
}

.header5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    padding-bottom: 20px;
}

.left5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    width: 50%;
}

.right5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    width: 50%;
}

#righttext5{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    color: hotpink;
}

.header6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
}

.left6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    width: 50%;
    margin: 20px;
}

.right6{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: lavenderblush;
    width: 50%;
    gap: 50px;
    margin: 50px;
}

#sinan{
    width: 400px;
    height: auto;
}

#sinancaption{
    font-size: 12pt;
    font-family: "ABC Diatype"; 
    color: lavenderblush;
    background-color: hotpink;
    width: 400px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sinantext{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    color: hotpink;
}

#link6{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    color: hotpink;
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 300px;
    border-radius: 20px;
    border-color: hotpink;
    border-width: 3px;
    border-style: solid;
}

#link6:hover{
    cursor: pointer;
    transform: scale(1.125,1.125);
    background-color: hotpink;
    color: lavenderblush;
    border-color: rgb(230,95,162);
}

.header7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    gap: 20px;
    height: 80vh;
}

#link7{
    height: 500px;
    width: auto;
}
#link7:hover{
    transform: scale(1.01,1.01);
    cursor: pointer;
    border: 3px solid hotpink;
}

.header8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
}

.body8{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lavenderblush;
    gap: 20px;
    padding: 20px;
}

#p:hover { transform:rotate(5deg); }
#p:hover:nth-child(2n) { transform:rotate(-4deg); }
#p:hover:nth-child(3n) { transform:rotate(2deg); }
#p:hover:nth-child(4n) { transform:rotate(-5deg); }
#p:hover:nth-child(5n) { transform:rotate(-6deg); }
#p:hover:nth-child(6n) { transform:rotate(6deg); }

.footer8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    width: 100%;
    height: 40px;
    font-family: "ABC Diatype";
    color: lavenderblush;
    font-size: 12px;
}

.main-box9{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 100%;
}
.header9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: hotpink;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 35%;
}

.body9{
    display: flex;
    width: 65%;
    height: 100vh;
    background-color: lavenderblush;
}
#body9{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
    color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}