*{
    margin: 0px;
}
@font-face {
    font-family: "ABC Diatype";
    src: url("../typefaces/ABCDiatypeEdu-Regular.woff2") format("woff2"),
         url("../typefaces/ABCDiatypeEdu-Regular.woff") format("woff"),
         url("../typefaces/ABCDiatypeEdu-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#title{
    font-size: 36pt;
    font-weight: bold;
    font-family: "ABC Diatype"; 
    padding: 20px;
}

#artist{
    font-size: 18pt;
    font-weight: bold;
    font-family: "ABC Diatype"; 
    padding: 20px;
}

#body{
    font-size: 15pt;
    font-family: "ABC Diatype"; 
    padding: 15px;
}

.main-box2{
    display: flex;
    flex-direction: row;
    background-color: beige;
}

.header1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink; 
}

.body1{
    background-color: honeydew;
}

.header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}

.header3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}

.body3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: azure;
}

.image3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#helpme{
    display: flex;
    height: 150px;
    width: auto;
}