img {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-box{
  
}

#img-0 {
  display: flex;
  align-self: baseline;
}

#img-1 {
  
}

#img-2 {
  
}

#img-3 {
  
}

#img-4 {
  
}

#img-5 {
  
}

#img-6 {
  
}

#img-7 {
  
}

#img-8 {
  
}

#img-9 {
  
}

#img-10 {
  
}

#img-11 {
  
}