*{
    margin: 0px;
}

    .box1{
        display: inline-block;
        background: plum;
        width: 1450px;
        height: 800px;
    }
    .box2{
        display: inline-block;
        background: pink;
        width: 300px;
        height: 300px;
    }
    .box3{
        display: inline-block;
        background: palevioletred;
        width: 200px;
        height: 200px;
    }