*{
    margin: 0px;
}

.container{
    display: flex;
    background-image: url(images/landscape.jpg);
    background-repeat: no-repeat;
    width: 1000px;
    height: 1000px;
    padding: 10px;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    height: 75px;
    width: 150px;
    border-radius: 5px;
}

#buttontext{
    font-family:Arial, Helvetica, sans-serif;
    color: navy;
}