*{
    margin: 0px;
    font-family: "ABC Diatype";
}

@font-face {
    font-family: "ABC Diatype";
    src: url("./typefaces/ABCDiatypeEdu-Regular.woff2") format("woff2"),
         url("./typefaces/ABCDiatypeEdu-Regular.woff") format("woff"),
         url("./typefaces/ABCDiatypeEdu-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.container{
    display: flex;
    flex-direction: row;
    background-image: url(images/s1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 10px;
    max-width: 100vw;
    justify-content: center;
}

.readme{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    height: 100px;
    width: 300px;
    border-radius: 40px;
    border-width: 3px;
    border-color: hotpink;
    border-style: solid;
}

.readme:hover{
    background-color: hotpink;
    cursor: pointer;
    transform: scale(1.125,1.125);
    border-width: 3px;
    border-color: rgb(179, 74, 126);
    border-style: solid;
}

#readme{
    font-size: 28px;
    font-style: bold;
    color: hotpink;
    padding: 10px;
}

.readme:hover #readme{
    color: lavenderblush;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: fixed;
    top:55%;
    left: 20px;
}

.squirrels1{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.squirrels2{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}


#letter{
    width: 7vw;
}

#letter:hover { transform:rotate(5deg); }
#letter:hover:nth-child(2n) { transform:rotate(-4deg); }
#letter:hover:nth-child(3n) { transform:rotate(2deg); }
#letter:hover:nth-child(4n) { transform:rotate(-5deg); }
#letter:hover:nth-child(5n) { transform:rotate(-6deg); }
#letter:hover:nth-child(6n) { transform:rotate(6deg); }

.list-container{

}

.list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lavenderblush;
    height: 55px;
    width: 150px;
    border-radius: 10px;
    border-width: 3px;
    border-color: hotpink;
    border-style: solid;
}

.button:hover{
    background-color: hotpink;
    cursor: pointer;
    transform: scale(1.125,1.125);
    border-width: 3px;
    border-color: rgb(179, 74, 126);
    border-style: solid;
}

.button:hover #buttontext{
    color: lavenderblush;
}

#buttontext{
    font-size: calc(12px+1vw);
    font-style: normal;
    color: hotpink;
    padding: 10px;
}

#buttontext:hover{
    color: lavenderblush;
}

@media screen and (max-width: 600px) {
    .container{
        background-image: url(images/s1.jpeg);
    }


    .list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        height: 30%;
        gap: 20px;
        position: fixed;
        bottom: 10px;
        justify-content: center;

    }
    .button{
        height: 55px;
        width: 100px;
    }

    .readme{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lavenderblush;
        height: 100px;
        width: 300px;
        border-radius: 40px;
    }
}