*{
    margin: 0px;
}

@font-face {
    font-family: "ABC Diatype";
    src: url("./typefaces/ABCDiatypeEdu-Regular.woff2") format("woff2"),
         url("./typefaces/ABCDiatypeEdu-Regular.woff") format("woff"),
         url("./typefaces/ABCDiatypeEdu-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.container{
    display: flex;
    background-image: url(images/s1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 10px;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    height: 55px;
    width: 150px;
    border-radius: 10px;
}

.button:hover{
    background-color: hotpink;
    cursor: pointer;
}

#buttontext{
    font-family: "ABC Diatype";
    font-size: 13pt;
    font-style: normal;
    color: darkgreen;
    padding: 10px;
}