*{
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: lightcoral;
    height: 50px;
    width: 150px;
    border-radius: 5px;
}