*{
    margin: 0px;
}

@font-face {
    font-family: "ABC Diatype";
    src: url("./typefaces/ABCDiatypeEdu-Regular.woff2") format("woff2"),
         url("./typefaces/ABCDiatypeEdu-Regular.woff") format("woff"),
         url("./typefaces/ABCDiatypeEdu-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.container{
    display: flex;
    background-image: url(images/s1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    padding: 10px;
    max-width: 100%;
}

.readme{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    height: 100px;
    width: 300px;
    border-radius: 40px;
}

.readme:hover{
    background-color: hotpink;
    cursor: pointer;
    transform: scale(1.125,1.125);
}
#readme{
    font-family: "ABC Diatype";
    font-size: 28px;
    font-style: bold;
    color: darkgreen;
    padding: 10px;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position:fixed;
    top: 380px;
    left: 55px;
}

.squirrels1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.squirrels2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#l1:hover{
    transform: rotate(10deg);
}
#l2:hover{
    transform: rotate(-10deg);
}
#l3:hover{
    transform: rotate(10deg);
}
#l4:hover{
    transform: rotate(-10deg);
}
#l5:hover{
    transform: rotate(10deg);
}
#l6:hover{
    transform: rotate(-10deg);
}
#l7:hover{
    transform: rotate(10deg);
}
#l8:hover{
    transform: rotate(-10deg);
}
#l9:hover{
    transform: rotate(10deg);
}
#l10:hover{
    transform: rotate(-10deg);
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    height: 55px;
    width: 150px;
    border-radius: 10px;
}

.button:hover{
    background-color: hotpink;
    cursor: pointer;
    transform: scale(1.125,1.125);
}

#buttontext{
    font-family: "ABC Diatype";
    font-size: calc(12px+1vw);
    font-style: normal;
    color: darkgreen;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .container{
        background-image: url(images/s1.jpeg);
    }
    .list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        gap: 20px;
    }
    .button{
        height: 55px;
        width: 100px;
    }
}