@keyframes color{
    0%{
        background-color: orange; 
        transform: rotate(0deg);
    }
    50%{
        background-color: pink;
        transform: rotate(90deg);
    }
    100%{
        background-color: orange;
        transform: rotate(0deg);
    }
}

@keyframes color2{
    0%{
        background-color: green; 
    }
    50%{
        background-color: pink;
    }
    100%{
        background-color: green;
    }
}

body{
    background-color: lightblue; 
    animation-name: color2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

button{
    transition-duration: 500ms;
    font-size: 40px;
    opacity: 1;
    border-radius: 20px;
    border: none;
    transform: rotate(0deg);
    transform: scale(1,1);
    position: absolute;
    top: 100px;
    left: 100px;
    height: 300px;
    width: 300px;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
button:hover{
    background-color: black;
    color: white;
    opacity: 0.5;
    transform: rotate(20deg);
    transform: scale(2,2);
}

#button2{
    transition-duration: 500ms;
    opacity: 1;
    border-radius: 20px;
    border: none;
    transform: rotate(0deg);
    transform: scale(1,1);
    position: absolute;
    top: 100px;
    left: 500px;
    height: 300px;
    width: 300px;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#button2:hover{
    color: white;
    opacity: 0.5;
    transform: rotate(20deg);
    transform: scale(2,2);
}
#button3{
    transition-duration: 500ms;
    opacity: 1;
    border-radius: 20px;
    border: none;
    transform: rotate(0deg);
    transform: scale(1,1);
    position: absolute;
    top: 100px;
    left: 900px;
    height: 300px;
    width: 300px;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#button3:hover{
    color: white;
    opacity: 0.5;
    transform: rotate(20deg);
    transform: scale(2,2);
}
