@keyframes color{
    0%{
        background-color: white; 
    }
    50%{
        background-color: pink;
    }
    100%{
        background-color: white;
    }
}

@keyframes color2{
    0%{
        background-color: cadetblue; 
    }
    50%{
        background-color: pink;
    }
    100%{
        background-color: cadetblue;
    }
}

@keyframes color3{
    0%{
        background-color: lightgoldenrodyellow; 
    }
    50%{
        background-color: pink;
    }
    100%{
        background-color: lightgoldenrodyellow;
    }
}

#button1{
    height: 350px;
    width: 350px;
    border: none;
    background-color: cadetblue;
    animation-name: color2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#button2{
    height: 350px;
    width: 350px;
    border: none;
    animation-name: color3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#button3{
    height: 350px;
    width: 350px;
    border: none;
    background-color: cadetblue;
    animation-name: color2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#button4{
    height: 350px;
    width: 350px;
    border: none;
    background-color: lightgoldenrodyellow;
    animation-name: color3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#button5{
    height: 350px;
    width: 350px;
    border: none;
    background-color: lightgoldenrodyellow;
    animation-name: color3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#button6{
    height: 350px;
    width: 350px;
    border: none;
    background-color: cadetblue;
    animation-name: color2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#button7{
    height: 350px;
    width: 350px;
    border: none;
    background-color: lightgoldenrodyellow;
    animation-name: color3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#button8{
    height: 350px;
    width: 350px;
    border: none;
    background-color: cadetblue;
    animation-name: color2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
body{
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
