body{
    background-color: mediumvioletred;
}
#circle{
    height: 400px;
    width: 400px;
    border-radius: 400px;
    background-color: orchid;
    position: absolute;
    top: 200px;
    left: 550px;  
    animation-name: scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes scale {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.75);
        opacity: 0.5;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}